<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="app.emp.Emp"> -->
<mapper namespace="Emp">
	<resultMap type="Emp" id="myMap">
		<result column="empno" property="empno" />
		<result column="ename" property="ename" />
		<result column="job" property="job" />
		<result column="mgr" property="mgr" />
		<result column="hiredate" property="hiredate" />
		<result column="sal" property="sal" />
		<result column="comm" property="comm" />
		<result column="deptno" property="deptno" />
		<association property="dept" column="deptno" javaType="Dept" select="selectDept" />		
	</resultMap>

	<sql id="basic">
		select * from emp
	</sql>
	
	<select id="selectDept" resultType="Dept">
		select * from dept where deptno=#{deptno}
	</select>

	<select id="empDeptJoin" resultMap="myMap">
		select * from emp
	</select>

	<select id="selectAll" resultType="Emp">
		<include refid="basic" />
	</select>

	<select id="select" resultType="Emp" parameterType="int">
		<!-- select * from emp where emp_no=? -->
		<include refid="basic" />
		where empno=#{empno}
	</select>
	
</mapper>

<!--ibatis, mybatis에서는 쿼리문을 자바코드안에 두지 않는다 왜? 유지보수성을 높이기 위해. namespace는 유일성 
	확보, resultType은 반환형 둘이 길어지므로 config에서 allias 설정하면 짧게 할 수 있다. *는 성능이 떨어지기때문에 
	원래 column명을 넣는 것이 원칙이다. 이럴때 유지보수하기 쉽기위해 공통적인 부분을 sql태그에 만들어 쓰자 resultMap 
	태그에서 수동으로 맵핑을 할수 있다. 자동이 편하지만 join하거나 coloumname과 dto변수명이 일치하지 않을때 수동이 펼요
	
	resultMap의 association에서  join작업 수행 : 1:1관계일 경우
	일대다 관계의 경우 collection태그를 이용한다.
	
	
	 -->